<h1 class="mt-4">Dashboard</h1>
<% include ./partials/messages %>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/vendor/logout" class="btn btn-secondary">Logout</a>
<a href="/vendor/dashvendor/passv" class="btn btn-secondary">Change Password</a>
<a href="/vendor/dashvendor/addprod" class="btn btn-secondary">Add Products</a>
<a href="/vendor/dashvendor/modify" class="btn btn-secondary">Delete Buyer Accounts</a>
<style type="text/css">
  #navb {
    display: none;
  }
</style>
