<div><% include ./partials/messages %></div>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-vuejs fa-3x "></i></h1>
      <p>Create a Vendor account or login</p>
      <a href="/vendor/registerv" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/vendor/loginv" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-bimobject fa-3x"></i></h1>
      <p>Create a Buyer account or login</p>
      <a href="/buyer/registerb" class="btn btn-primary btn-block mb-2">Register</a>
      <a href="/buyer/loginb" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
<style type="text/css">
  #navb {
    display: none;
  }

  #navv {
    display: none;
  }
</style>
